.contact-section {
  padding: 0;
}

.wrapper {
  width: 100%;
  box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
}

.contact-wrap {
  background: beige;
}

.contact-container h1 {
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.8); 
}

.contact-wrap h3 {
  color: cadetblue;
}

h3 {
  color: white;
}

.form-control {
  height: 72px;
  background: transparent;
  color: rgba(2, 0, 0, 0.6);
  font-size: 16px;
  border-radius: 0px;
  box-shadow: none !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.form-control:focus,
.form-control:active {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.5) !important;
}

textarea.form-control {
  height: inherit !important;
  margin-top: 5px;
}

.contactForm .form-control {
  border: none;
  border-bottom: 1px solid black;
  padding: 0;
}

.btn {
  padding: 12px 16px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  position: relative;
}

.btn-success {
  background: cadetblue;
  color: white;
}

.btn:hover {
    transition: all 0.3s ease-out;
    background: cadetblue;
    transition: 250ms;
    transform: scale(1.1);
}

.info-wrap h3 {
  color: #000;
  position: relative;
}

.info-wrap h3:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 3px;
  background: cadetblue;
  content: "";
}

.info-wrap .dbox {
  width: 100%;
  margin-bottom: 25px;
}

.info-wrap .dbox:last-child() {
  margin-bottom: 0;
}

.info-wrap .dbox p {
  margin-bottom: 0;
}

.info-wrap .dbox p span {
  font-weight: 400;
  color: black;
}

.info-wrap .dbox .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.info-wrap .dbox .icon span {
  font-size: 18px;
  color: cadetblue;
}

.info-wrap .dbox .text {
  width: calc(100% - 50px);
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000;
}

a {
  transition: 0.3s all ease;
  color: cadetblue;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none;
}

#contactForm .form-control {
  font-size: 16px;
}
